<header class="bmr-header">
  <div class="profile-info">
    <img class="avatar" src="https://pbs.twimg.com/profile_images/378800000082186023/8bb9ca172b27c49a5d0d3eb79e8d11fc_bigger.jpeg"/>
    <h4 class="author-name">Blessan Mathew(@blessenm86)</h4>
  </div>
  <div class='uil-squares-css' style='-webkit-transform:scale(0.6)'>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <h1 class="bmr-title">bm-reader</h1>
</header>

<section class="bmr-body">

  <ul class="bmr-tweet-list">
  </ul>

  <iframe class="bmr-tweet-page">
  </iframe>

</section>
