<header class="bmr-header">
  <div class="profile-info">
    <img class="avatar" src="/images/avatar.png"/>
    <h4 class="author-name"></h4>
  </div>
  <div class='uil-squares-css' style='-webkit-transform:scale(0.6)'>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <h1 class="bmr-title">bm-reader</h1>
</header>

<section class="bmr-body">

  <ul class="bmr-tweet-list">
    <li class="bmr-list-item bmr-item-next">
      <h3>Get Next Items</h3>
    </li>
  </ul>

  <iframe class="bmr-tweet-page">
  </iframe>

</section>

<script src="/scripts/libs/moment-2.10.6.js"></script>
<script src="/scripts/app.js"></script>
