<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/squares.css' />
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body class="bmr-app">
    {{{body}}}
    <script src="/scripts/app.js"></script>
  </body>
</html>
