* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bmr-app {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #C7D3E6;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

  .bmr-header {
    background: #263346;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
    display: flex;
    align-items: center;
  }

    .profile-info {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .avatar {
      width: 50px;
      height: 50px;
      margin: .5rem;
      border: 2px solid #C7D3E6;
      border-radius: .5rem;
    }

    .bmr-title {
      margin-right: 0.5rem;
      color: #F98229;
      flex: 1;
      text-align: right;
    }

  .bmr-body {
    flex: 1;
    display: flex;
  }

  .bmr-tweet-list {
    flex: 1;
    border-right: 2px solid #e1e8ed;;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

    .bmr-list-item {
      position: relative;
      padding: .5rem;
      color: #333;
      border-bottom: 2px solid #e1e8ed;
    }

      .bmr-retweet-status {
        color: #C7D3E6;
        font-weight: bold;
      }

      .bmr-tweet-author {
        margin: 0;
        display: flex;
        align-items: center;
      }

        .bmr-tweet-author .avatar {
          margin: 0 0.5rem 0 0;
          border-color: transparent;
        }

        .author-name {
          flex: 1;
          margin: 0;
        }

        .time-difference {
          color: #C9C9C9;
        }

      .bmr-tweet-text, .bmr-retweet-status {
        margin-left: calc(.5rem + 50px);
      }

        .emoji {
          width: 1rem;
          margin: 0 0.2rem;
        }

        .bmr-tweet-text video, .bmr-tweet-text img:not(.emoji) {
          width: 100%;
          margin: .5rem 0;
        }

        .bmr-tweet-text a{
          color: #4183c4;
          text-decoration: none;
        }

        .bmr-tweet-text a:hover{
          text-decoration: underline;
        }

        .bmr-tweet-text .quoted-tweet {
          margin-top: .5rem;
          padding: .5rem;
          border-radius: .5rem;
          border: 2px solid #e1e8ed;
        }

    .bmr-item-next {
      text-align: center;
      cursor: pointer;
      background: #263346;
      color: #C7D3E6;
    }

    .bmr-item-next:hover {
      color: #F98229;
    }

  .bmr-tweet-page {
    flex: 1;
    padding: .5rem;
  }
